html, body {
  margin: 0;
  min-height: 100%;
}

#principal {
  background-color:#74cec5;
  font-family: 'Playfair Display', serif;
  padding-bottom: 20px;
}
h1,h2{
  text-align: center;
}
.ilustraçao{
 width: 400px;
 display: block;
 margin-left: auto;
 margin-right: auto;
}
#imp{
  padding: 10px;
}
header{
  background-color: rgba(0,0,0,.95);
  box-shadow:2px 10px 10px rgba(0,0,0,.25);
  padding-top: 1em;
}
h1{
  display: block;
  font-size: 2em;
  color: white;
}
header ul{
  padding-left: 1em 1em 1em 0em;
  background-color: rgb(167, 215, 239, 0.53);
}
header li{
  display:inline-block;
  border:2px solid black;
  width:140px;
  height:40px;
  background-color: #74cec5;
  text-align: center;
  font-size: 20px;
}
#conteudo-principal{
  margin: 0% 20% 0% 20%;
}
header h2{
  color: #c0c0c0;
}
#nazare{
  width:80px;
}
